<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <div class="form-log">

        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <% if @user.avatar.present? %>
              <%= cl_image_tag @user.avatar, height: 200, width: 200, crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", height="200", width="200", crop="fill">
            <% end %>

            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :first_name,
                        required: true,
                        autofocus: true %>

            <%= f.input :last_name,
                        required: true,
                        autofocus: true %>

            <%= f.input :address,
                        required: true,
                        autofocus: true %>

            <%= f.input :phone_number,
                        required: true,
                        autofocus: true %>

            <%= f.input :avatar, label: "Time for some nice pics 😉" %>
            <%= f.input :avatar_cache, as: :hidden %>

            <%= f.input :is_available,
                        label: "I am available for a work",
                        autofocus: true %>

            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn btn-primary" %>
            <%= link_to "Cancel my account", registration_path(resource_name), class: "btn btn-warning", data: { confirm: "Are you sure?" }, method: :delete %>
            <hr>
            <%= link_to "Back", :back, class: "btn btn-secondary" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
