
<% @tasks.each do |task| %>

  <p><%= link_to "Name : #{task.name}",task_path(task.id) %></p>
  <p>Price: <%= task.price %></p>
  <p>Status: <%= task.status %></p>
  <p>Owner: <%= task.owner.first_name %></p>

  <hr>

<p><%= task.name %></p>
<p>Amount: <%= humanized_money_with_symbol(task.price) %></p>
<p><%= task.status %></p>
<p><%= task.owner.first_name %></p>


<% end %>

<div
  id="map"
  style="width: 800px;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


