<style>
.navbar-lewagon {
  background: rgba(22, 35, 58, 1);
  width: 100%;
  }
  .navbar-brand {
    color: white !important;
  }

</style>
<div class="background-svg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-4">
        <div class="form-log">

          <%= simple_form_for @task do |f| %>
              <%= f.input  :name, label: "What's the task?", error: "Name is mandatory, please specify one" %>
              <%= f.input  :category, collection: ["Cleaning", "Computering", "Driving", "Ironing", "Moving", "Gardening", "Other"] %>
              <%= f.input  :description, label: "Describe the task:" %>
              <%= f.input  :address, label: "Put the address:" %>
              <%= f.input  :price, hint: 'Insert a price.' %>

              <%#= f.input :photo, label: "Time for some nice pics 😉" %>
              <%#= f.input :photo_cache, as: :hidden %>
              <%= f.button :submit, "Create the task", class: "btn btn-success" %>
            <% end %>


        </div>
      </div>
    </div>
  </div>
</div>
