<h2><%= @task.name %></h2>

<p>Owner: <%= @task.owner.first_name %></p>
<p>Category: <%= @task.category %></p>
<p>Description: <%= @task.description %></p>
<p>Address: <%= @task.address %></p>
<p>Price: <%= @task.price %></p>
<p>Status: <%= @task.status %></p>
<p>Average rating for owner: <%= @task.owner.average_rating_received %></p>
<%= link_to "Accept the task", task_path(@task), method: :patch, class: "btn btn-success btn-lg" %>
<br>
