<h2><%= @task.name %></h2>
<h4><%= @task.owner.first_name %></h4>
<p><%= @task.category %></p>
<p><%= @task.description %></p>
<p><%= @task.address %></p>
<p>Amount: <%= humanized_money_with_symbol(@task.price) %></p>
<p><%= @task.status %></p>

<%= form_tag payments_path do %>
  <%= hidden_field_tag 'task_id', @task.id %>
  <%= submit_tag 'Pay now', class: 'btn btn-primary' %>
<% end %>


---------------------------------------------------

<%= @task.owner.average_rating_received %>
