<style>
.navbar-lewagon {
  background: rgba(22, 35, 58, 1);

  width: 100%;
  }
  .navbar-brand {
    color: white !important;
  }
</style>



<% if @task.status != "confirmed" %>
  <script data-turbolinks-eval="false" language="javascript">
  regex = /\/tasks\/\d/i;
  setInterval(function(){

    if (regex.test(window.location.pathname)) {
      Turbolinks.visit(window.location.pathname)
    }

  }, 8000);
  </script>
<% end %>

<div class="background-svg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12"> <!-- col-sm-6 col-sm-offset-4 -->
        <div class="waiting-container">
          <div class="waiting-page">

            <!-- VIEW FOR PENDING & REJECTED-->
            <% if @task.status == "pending" %>
              <h1><%= @task.owner.first_name.capitalize %> you are all set!</h1>
              <h2>Message sent to the outer space for: <%= @task.name.capitalize %></h2>
              <%#= @payment.amount_cents %>
              <h2>Waiting for someone to pick up your task...</h2>
<!--                 <div class="load-progress-bar">
                  <span class="load-bar">
                    <span class="load-progress"></span>
                  </span>
                </div> -->
                <div class="progress" style="height: 20px">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
                </div>


            <!-- VIEW FOR ACCCEPTED -->
            <% elsif @task.status == "accepted" %>
            <div class="waiting-page">
              <h2>Your task has been accepted by <%= @task.worker.first_name.capitalize %> <%= @task.worker.last_name.capitalize %>!</h2>
              <p><%= link_to "View worker's profile", worker_profile_path(task_id: @task.id), class: "btn btn-success" %></p>

              <div class="aside-btn">
                <%= form_for [@task], method: :patch do |f| %>
                  <%= f.hidden_field :task_status, value: "confirmed" %>
                  <%= f.submit "Accept", class: "btn btn-success" %>
                <% end %>

                <%= form_for [@task], method: :patch do |f| %>
                  <%= f.hidden_field :task_status, value: "rejected" %>
                  <%= f.submit "Decline", class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>

              <!-- VIEW FOR CONFIRMED -->
            <% elsif @task.status == "confirmed" %>
            <div class="waiting-page">
                <h2>No more worries <%= @task.owner.first_name.capitalize %></h2>
                  <h2><%= @task.worker.first_name.capitalize %> is on his way to you</h2>

            <p><%= @task.worker.first_name %> is <%= @distance %> km away,
              <% if @eta <= 60 %>
                (ETA: <%= @eta %> minutes)
              <% else %>
                (ETA: <%= @eta / 60 %> hours <%= @eta % 60 %> minutes)
              <% end %>
            </p>

            <%= form_for [@task], method: :patch do |f| %>
              <%= f.hidden_field :task_status, value: "finished" %>
              <%= f.submit "Mark tash as finished", class: "btn btn-success" %>
            <% end %>
            </div>

            <% elsif @task.status == "finished" %>
              <div class="waiting-page">
                <h1>No more worries <%= @task.owner.first_name.capitalize %></h1>
                  <h2><%= @task.worker.first_name.capitalize %> is on his way to you    ;)</h2>

                    <!-- <div class="pulsate-fwd ">
                      <%#= image_tag("favicon.svg", id: "logo")%>
                    </div> -->

              <div class="aside-btn">
                <%= link_to "Back Home", root_path, class: "btn btn-success" %>
                <%= link_to "Review worker", new_task_review_path(@task), class: "btn btn-success" %>
              <% end %>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

