<style>
.navbar-lewagon {
  background: rgba(10,14,79, 1);

  width: 100%;
  }
  .navbar-brand {
    color: white !important;
  }
</style>



<% if @task.status != "confirmed" %>
  <script data-turbolinks-eval="false" language="javascript">
  regex = /\/tasks\/\d/i;
  setInterval(function(){

    if (regex.test(window.location.pathname)) {
      Turbolinks.visit(window.location.pathname)
    }

  }, 5000);
  </script>
<% end %>




<!-- VIEW FOR PENDING & REJECTED-->
<% if @task.status == "pending" %>
  <h2>You are all set!</h1>
  <%= @task.name %>
  <%= @payment.amount_cents %>
  <h2>Waiting for someone to pick up your task...</h1>
  <%= link_to "Refresh", task_path(@task, @payment), class: "btn btn-warning" %>

<!-- VIEW FOR ACCCEPTED -->
<% elsif @task.status == "accepted" %>
  <h2>Your task has been accepted by <%= @task.worker.first_name %> <%= @task.worker.last_name %>!</h2>

  <%= form_for [@task], method: :patch do |f| %>
    <%= f.hidden_field :task_status, value: "confirmed" %>
    <%= f.submit "accept worker", class: "btn btn-success" %>
  <% end %>

  <%= form_for [@task], method: :patch do |f| %>
    <%= f.hidden_field :task_status, value: "rejected" %>
    <%= f.submit "reject worker", class: "btn btn-danger" %>
  <% end %>

  <!-- VIEW FOR CONFIRMED -->
<% elsif @task.status == "confirmed" %>
  <p>Done, <%= @task.worker.first_name %> is on his way to you</p>
  <%= link_to "Home Page", root_path, class: "btn btn-success" %>
<% end %>



