<% if @task.status == "pending"%>

  <h2><%= @task.name %></h2>

  <p>Owner: <%= @task.owner.first_name %></p>
  <p>Category: <%= @task.category %></p>
  <p>Description: <%= @task.description %></p>
  <p>Address: <%= @task.address %></p>
  <p>Price: <%= @task.price.round(2) %></p>
  <p>Status: <%= @task.status %></p>
  <p>Average rating for owner: <%= @task.owner.average_rating_received %></p>

  <hr>
  <%= link_to "Back to index", tasks_path, class: "btn btn-warning" %>
  <hr>
  <%= cl_image_tag @task.picture, height: 200, width: 200, crop: :fill %>

  <%= link_to "Accept the task", task_path(@task), method: :patch, class: "btn btn-success btn-lg" %>
  <br>




<% elsif @task.status == "accepted"%>

  <h2><%= @task.name %></h2>

  <p>Owner: <%= @task.owner.first_name %></p>
  <p>Category: <%= @task.category %></p>
  <p>Description: <%= @task.description %></p>
  <p>Address: <%= @task.address %></p>
  <p>Price: <%= @task.price.round(2) %></p>
  <p>Status: <%= @task.status %></p>
  <p>Average rating for owner: <%= @task.owner.average_rating_received %></p>

  <%= cl_image_tag @task.picture, height: 200, width: 200, crop: :fill %>

  <%= link_to "Refresh", task_path(@task), class: "btn btn-success btn-lg" %>
  <br>












<% elsif @task.status == "confirmed"%>


<h1>All set, Task confirmed!</h1>

<h2><%= @task.name %></h2>

  <p>Owner: <%= @task.owner.first_name %></p>
  <p>Category: <%= @task.category %></p>
  <p>Description: <%= @task.description %></p>
  <p>Address: <%= @task.address %></p>
  <p>Price: <%= @task.price.round(2) %></p>
  <p>Status: <%= @task.status %></p>
  <p>Average rating for owner: <%= @task.owner.average_rating_received %></p>

  <%= cl_image_tag @task.picture, height: 200, width: 200, crop: :fill %>

  <%= link_to "Home", root_path, class: "btn btn-success btn-lg" %>
  <br>

<% end %>
