<% rating = current_user.average_rating_received_from_user_view %>
<% rating_per_cent = 100 * rating / 5 %>

<h2>Edit</h2>

<hr>

<% if current_user.avatar.present? %>
  <%= cl_image_tag current_user.avatar, height: 150, width: 150, crop: :fill %>
<% else %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", height="150", width="150", crop="fill">
<% end %>

<hr>

<p>Rating: <%=rating_per_cent%> %</p>

<hr>

<p>Is available? <%= current_user.is_available %></p>

<hr>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.address %></p>
<p>Phone: <%= @user.phone_number %></p>
<p>Email: <%= @user.email %></p>
<p>Bio: <%= current_user.bio %></p>

<hr>
<strong> Reviews for <%= @user.first_name %> <%= @user.last_name %></strong>
<hr>

<div class="container">
    <div class="row">
      <div class="col">
        <strong>Worker</strong>
      </div>
      <div class="col">
        <strong>Review date</strong>
      </div>
      <div class="col">
        <strong>Rating</strong>
      </div>
    </div>
  <% @user.reviews.each do |review| %>
      <div class="row">
        <div class="col">
          <%= User.find_worker_by_task(review).first_name %>
        </div>
        <div class="col">
          <%= @user.first_name %> on <%= review.created_at.strftime("%d/%m/%Y - %-dh%d") %>
        </div>
        <div class="col">
          <%= review.rating %>/5
        </div>
      </div>
  <% end %>
</div>

<br>

<p>Average rating for <%= @user.first_name %> is <strong><%=rating_per_cent%> %</strong></p>

<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: <%= rating_per_cent %>%;" aria-valuenow="<%= rating_per_cent %>" aria-valuemin="0" aria-valuemax="100">Rating <%= rating_per_cent %>%</div>
</div>

<br>

<hr>
<!-- ####################################################################################### -->
<h3>List of PENDING tasks, waiting for a worker</h3>

<% Task.where(owner_user_id: @user, status: "pending").each do |task| %>

  <hr>
  <p>Name: <%=task.name%> for <%=humanized_money_with_symbol(task.price)%> - Status: <%= task.status%> for: <%= task.worker_user_id.nil? ? "not affected" : User.find(task.worker_user_id).first_name %></p>

  <%= form_for [task], method: :patch do |f| %>
    <%= f.hidden_field :task_status, value: "confirmed" %>
    <%= f.submit "accept worker", class: "btn btn-success" %>
    <%= f.hidden_field :task_status, value: "rejected" %>
    <%= f.submit "reject worker", class: "btn btn-danger" %>
  <% end %>

<% end %>


<hr>
<!-- ####################################################################################### -->
<h3>List of tasks ACCEPTED by a worker, needed TO BE VALIDATED by the owner</h3>

<% Task.where(owner_user_id: @user, status: "accepted").each do |task| %>

  <p>Name: <%=task.name%> for <%=humanized_money_with_symbol(task.price)%> - Status: <%= task.status%> by: <%= task.worker_user_id.nil? ? "not affected" : User.find(task.worker_user_id).first_name %></p>

  <%= form_for [task], method: :patch do |f| %>
    <%= f.hidden_field :task_status, value: "confirmed" %>
    <%= f.submit "accept worker", class: "btn btn-success" %>
    <%= f.hidden_field :task_status, value: "rejected" %>
    <%= f.submit "reject worker", class: "btn btn-danger" %>
  <% end %>

  <% if task.status == "accepted" && !task.worker_user_id.nil? %>

    <!-- PRINT REVIEWS FOR WORKER_ID   -->
    <% Review.where(user_id: task.worker_user_id).each do |review| %>
        <p>Rating of <%= review.rating %> for worker <%= User.find(review.user_id).first_name %> on <%= review.created_at.strftime("%d/%m/%Y - %-dh%d") %></p>

    <% end %>

  <% end %>

  <hr>

<% end %>



<!-- go back to the previous page if exists -->
<%= link_to "back", (request.referer.present? ? request.referer : root_path), class: "btn btn-primary" %>
<br>
