<% rating = current_user.average_rating_received_from_user_view %>
<% rating_per_cent = 100 * rating / 5 %>

<h2>Edit</h2>

<hr>

<% if current_user.avatar.present? %>
  <%= cl_image_tag current_user.avatar, height: 150, width: 150, crop: :fill %>
<% else %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", height="150", width="150", crop="fill">
<% end %>

<hr>

<p>Rating: <%=rating_per_cent%> %</p>

<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: <%= rating_per_cent %>%;" aria-valuenow="<%= rating_per_cent %>" aria-valuemin="0" aria-valuemax="100">Rating <%= rating_per_cent %>%</div>
</div>

<hr>

<p>Is available? <%= current_user.is_available %></p>

<hr>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.address %></p>
<p>Phone: <%= @user.phone_number %></p>
<p>Email: <%= @user.email %></p>

<hr>

<p>Bio: <%= current_user.bio %></p>

<!-- go back to the previous page if exists -->
<%= link_to "back", (request.referer.present? ? request.referer : root_path), class: "btn btn-primary" %>
