<!-- VIEW FOR PENDING -->
<% if @task.status == "pending" %>
  <h2>You are all set!</h1>
  <%= @task.name %>
  <%= @payment.amount_cents %>
  <%= link_to "Refresh", task_payment_path(@task, @payment), class: "btn btn-warning" %>
  <h2>Waiting for someone to pick up your task...</h1>

<!-- VIEW FOR ACCCEPTED -->
<% elsif @task.status == "accepted" %>
  <h2>Your task has been accepted by <%= @task.worker %>!</h2>

  <%= form_for [@task, @payment], method: :patch do |f| %>
  <%= f.hidden_field :task_status, value: "confirmed" %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Decline", root_path, class: "btn btn-danger" %>

  <!-- VIEW FOR CONFIRMED -->
<% elsif @payment.task.status == "confirmed" %>
  <p>Done, the worker is on his way to you</p>
<% end %>














